body ul {
  max-width: 300px;
  position: relative;

  & li {
    width: 300px;
    height: 150px;
    background-color: rgb(112, 112, 255);

    &:nth-child(even) {
      background-color: rgb(255, 74, 74);
    }
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}